#counter-api-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  border: 1px solid black;
  height: 100%;
  overflow-y: auto;
  width: 360px;
  box-shadow: -4px 0px 6px 1px #ababab;
  transition: width 0.3s;
  overflow: hidden;
}

#counter-api-list {
  width: 300px;
  padding: 4px 24px 20px 24px;
}

.hidden {
  width: 24px !important;
}

.visible {
  width: 360px !important;
}

.hidden button {
  transform: rotate(180deg);
}

.sidebar-button {
  background: none;
  border: 0;
  height: 100%;
  float: left;
  transition: transform 0.5s;
}

.sidebar-button:active {
  transform: translateY(1px);
}

.sidebar-button:focus {
  outline: none;
}

.api {
  padding: 8px;
  border-left: 1px solid #909090;
  box-shadow: 3px 3px 2px 0px #ddd;
  word-break: break-all;
  margin-bottom: 10px;
}

.api>ul {
  margin: 0;
  padding-inline-start: 20px;
}

.api input[type=checkbox] {
  margin-left: 3px;
}